<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAeDPmqohbqYCm2e1M9HV6yWTMoXOVFojk</string>
	<key>GCM_SENDER_ID</key>
	<string>521570284978</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>-171438.johaeri.hansung.ac.kr.iosN-2171438-johaeri</string>
	<key>PROJECT_ID</key>
	<string>iosprograming-3aa5b</string>
	<key>STORAGE_BUCKET</key>
	<string>iosprograming-3aa5b.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:521570284978:ios:881a5a8e7e8fa84a3260ab</string>
</dict>
</plist>